name: Update data

on:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  update-data:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci
      - run: npm run update-data

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: update data
          file_pattern: src/assets/data/*.bin
